USE [master]
GO
/****** Objeto: Database [SeparacionCuentas] Fecha de script: 7/10/2026 19:17:27 ******/
CREATE DATABASE [SeparacionCuentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeparacionCuentas', FILENAME = N'/var/opt/mssql/data/SeparacionCuentas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeparacionCuentas_log', FILENAME = N'/var/opt/mssql/data/SeparacionCuentas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeparacionCuentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeparacionCuentas]
GO
/****** Objeto: Table [dbo].[Cuenta] Fecha de script: 7/10/2026 19:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[id_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_pagador] [int] NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[monto_total] [decimal](12, 2) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Division] Fecha de script: 7/10/2026 19:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[id_division] [int] IDENTITY(1,1) NOT NULL,
	[id_cuenta] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[tipo_pago] [varchar](30) NULL,
	[referencia_pago] [varchar](100) NULL,
	[fecha_pago] [datetime2](7) NULL,
 CONSTRAINT [PK_Division] PRIMARY KEY CLUSTERED 
(
	[id_division] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Division_Cuenta_Usuario] UNIQUE NONCLUSTERED 
(
	[id_cuenta] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 7/10/2026 19:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Cuenta_IdUsuarioPagador] Fecha de script: 7/10/2026 19:17:27 ******/
CREATE NONCLUSTERED INDEX [IX_Cuenta_IdUsuarioPagador] ON [dbo].[Cuenta]
(
	[id_usuario_pagador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Division_IdCuenta] Fecha de script: 7/10/2026 19:17:27 ******/
CREATE NONCLUSTERED INDEX [IX_Division_IdCuenta] ON [dbo].[Division]
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Division_IdUsuario] Fecha de script: 7/10/2026 19:17:27 ******/
CREATE NONCLUSTERED INDEX [IX_Division_IdUsuario] ON [dbo].[Division]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_Fecha]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Division] ADD  CONSTRAINT [DF_Division_Estado]  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_UsuarioPagador] FOREIGN KEY([id_usuario_pagador])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_UsuarioPagador]
GO
ALTER TABLE [dbo].[Division]  WITH CHECK ADD  CONSTRAINT [FK_Division_Cuenta] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[Cuenta] ([id_cuenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Division] CHECK CONSTRAINT [FK_Division_Cuenta]
GO
ALTER TABLE [dbo].[Division]  WITH CHECK ADD  CONSTRAINT [FK_Division_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Division] CHECK CONSTRAINT [FK_Division_Usuario]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [CK_Cuenta_MontoTotal] CHECK  (([monto_total]>(0)))
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [CK_Cuenta_MontoTotal]
GO
ALTER TABLE [dbo].[Division]  WITH CHECK ADD  CONSTRAINT [CK_Division_Estado] CHECK  (([estado]='PAGADO' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[Division] CHECK CONSTRAINT [CK_Division_Estado]
GO
ALTER TABLE [dbo].[Division]  WITH CHECK ADD  CONSTRAINT [CK_Division_Monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[Division] CHECK CONSTRAINT [CK_Division_Monto]
GO
USE [master]
GO
